a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	&.button {
		font-weight: bold;
		&:hover {
			color: $color_navbar_link-hover;
			transition: all 250ms linear;
		}
	}
}

.entry-content {
	a {
		transition: all 250ms linear;
	}
	p, li {
		a {
			color: $color__link;
			text-decoration: underline;
			text-decoration-color: darken($color__link, 20%);
			transition: all 250ms linear;
			&:hover {
				color: $color__link-hover;
				text-decoration-color: darken($color__link-hover, 12%);
			}
		}
	}
}

.entry-meta {
	label {
		font-weight: bold;
	}
	a {
		transition: all 250ms linear;
	}
}
