
.navbar {
	//background-image: url(assets/images/bg08.jpg);
	background-repeat: repeat;
	background-position: 0 0;

	ul {
		margin: 0;
		padding: 0;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		padding: 20px 10px;
		display: flex;
		&:hover > a,
		&.focus > a {
		}
	}

	.navbar-menu {
		a {
			font-family: $font__nav;
			font-weight: bold;
			@include font-size(0.875);
			color: $color_navbar_link;
			text-decoration: none;
			text-transform: uppercase;
			&:hover, &:focus {
				color: $color_navbar_link-hover;
				background-color: transparent;
			}
		}
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color_navbar_link-hover;
			background-color: transparent;
		}
	}
	.navbar-brand {
		a {
			@include font-size(1.25);
			font-family: $font__logo;
			color: $color_navbar_link;
			font-weight: bold;
			&:hover, &:focus {
				background-color: $color_navbar_link_bg-hover;
				color: $black;
			}
		}
	}
	a {

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color_navbar_link-hover;
		background-color: transparent;
	}
}

%pageLink {
	margin-right: 4px;
	padding: 0 9px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0 1px 0 rgba(255,255,255, .8), 0 1px 3px rgba(0,0,0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

.pagination {
	padding-top: 1em;
	padding-left: 1em;
	ul {
		margin: 0;
		list-style: none;
		display: flex;
		li {
			margin: 0 0.25em;
			list-style: none;
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
			span {
				&.current {
					display: inline-block;
					margin-right: 4px;
					padding: 0 9px;
					border: none;
					background: #616161;
					box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
					color: #f0f0f0;
					text-shadow: 0px 0px 3px rgba(0,0,0, .5);
				}
			}
			a {
				display: inline-block;
				@extend %pageLink;
				&:hover, &:focus {
					background: #fefefe;
					background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
					background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
				}
			}
		}
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	//display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		//display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
