.sticky {
	//display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content, .box--site {
	.card-image {
		.card-image-figure {
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;
			filter: blur(3px);
			&.is-loaded {
				filter: none;
				transition: filter 1s;
			}
			> img {
				display: block;
				width: 100%;
				opacity: 0;
			}
		}
	}
	.card-content {
		.content {
			white-space: normal;
			a {
				padding: 0;
				display: inline;
				border: none;
			}
		}
	}
	.card-footer {
		a {
			padding: 0;
			display: inline;
			border: none;
		}
	}
}

.card-header {
	background-color: darken($card_header_bg, 5%);
	p {
		margin-bottom: 0;
	}
}

.box {
	&.box--site {
		.entry-header {
			background-color: darken($card_header_bg, 5%);
		}
	}
}

.footer {
	.section {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
